*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
@font-face{
    font-family:'myfont';
    src:url('fonts/Byekan.ttf')format('truetype'),url('fonts/Byekan.woff')format('woff');

}

@font-face{
    font-family:lalezar;
        
 src:url('fonts/lalezar.ttf')format('truetype'), url('fonts/lalezar.woff')format('woff');

}
body{
     font-family: myfont;
}

.header{
    height: 660px;
    background-image: url(images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 25px;
    text-align: center;
    background-attachment: fixed;
}

.header .first{
    list-style-type: none;
}
.one{
    display: inline-block;
    padding: 15px;
}

.one:hover{
    color:orange;
}

.header h1{
    font-size: 60px;
    font-family: lalezar;
    margin-top: 60px;
    
}
.header span{
    color:orange;
}
.two{
    width: 500px;
    margin: auto;
    height: 55px;
    line-height: 55px;
    border: 1px solid white;
    border-radius: 20px;
    background-color: rgba(0,0,0,0.5);
    color:white;
    
}
.member-list{
    list-style-type: none;
    margin-top: 20px;
    

}
.member{
   text-align: center;
   padding: 50px 30px ;

}
.member-a{
    width: 350px;
    display: inline-block;
    margin: 10px;
    box-shadow: 0 0 10px black;
   
}
.pi{
    width: 100%;
}
.matn{
    margin: 15px;
}
.pra{
    text-align: justify;
    padding: 10px;
    font-family: lalezar;
}
.about{
    height: 700px;
    
    background-image: url(images/bg.jpg);
    background-size: cover;
    padding-top: 30px;
    text-align: center;
    background-color: #484242;
    background-blend-mode: multiply;
}
.circle{
    width: 600px;
    height: 600px;
    background-color: rgba(135,135,135,0.5);    
    border-radius: 50%;
    margin: auto;
    padding: 80px 120px;
}

.circle p{
    margin-top: 20px;
    text-align: justify;
}
.footer{
    text-align: center;
    background-color:#464746;
}
.icon-item{
    display: inline-block;
    margin: 9px;
    padding-left: 10px;
    padding-top: 5px;
    
}
.footer p{
    font-family: lalezar;
   
}