*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(../image/photo.jpg);
}
.container{
    width: 700px;
    height: 360px;
    background-color: #33282e;
    margin: 100px auto;
    position: relative;
    border-radius:  10px 25px  10px 25px;
}
.box{
    width: 220px;
    height: 360px;
    background-color: #5c3d55;
    position: absolute;
    right: 20px;
    top: -20px;
    border-radius:  10px 25px 10px 25px;    
    overflow:hidden; 
    
}
.text{
    width: 350;
    height: 300;
    text-align: justify;
    position: absolute;
    top:15px;
    left: 35px;
    font-family:sans-serif;
   
}
.logo{
    font-size: 35px;
    position: absolute;
    right: 5px; 
    top: 190;
    width: 200px;
   
}
.m{
    position: absolute;
    top:0;
    font-size: 16px;
    left: 31px;
    padding: 10px;
    font-family:cursive;
    
}
.br{
    margin-bottom: 13px;
}